openai==1.40.3
langchain==0.2.14
langchain-community==0.2.12
pypdf==4.3.1
yt_dlp==2024.8.6
pydub==0.25.1
ffprobe==0.5
ffmpeg==1.4
bs64==0.0.1
beautifulsoup4==4.12.3
tiktoken==0.7.0
chromadb==0.5.5
langchain-openai==0.1.22
lark==1.2.2
panel==1.4.5
